AMQP_URL=amqps://USERNAME:PASSWORD@HOSTNAME/USERNAME

TRANSACTIONS_QUEUE=banking.transactions
TRANSACTIONS_RETRY_QUEUE=banking.transactions.retry
TRANSACTIONS_DLX=banking.transactions.dlx
TRANSACTIONS_DEAD_QUEUE=banking.transactions.dead

MAX_RETRIES=3